@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

$font-size: 50px;
$transition-time: 0.2s;
$sidebar-width: 180px;
$sidebar-padding: 25px;
$navbar-height: 50px;
$colors: (
  "white": #f7f4f3,
  "blue": #4464ad,
  "green": #4fb477,
  "orange": #ed7d3a,
  "red": #db4c40,
  "grey": #565453,
  "dark": #444140
);

html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
}

// Colors;
.bg-white {
  background-color: map-get($map: $colors, $key: "white");
}

.bg-blue {
  background-color: map-get($map: $colors, $key: "blue");
}

.bg-green {
  background-color: map-get($map: $colors, $key: "green");
}

.bg-orange {
  background-color: map-get($map: $colors, $key: "orange");
}

.bg-red {
  background-color: map-get($map: $colors, $key: "red");
}

.bg-dark {
  background-color: map-get($map: $colors, $key: "dark");
}

.text-dark {
  color: map-get($map: $colors, $key: "dark");
}

.text-grey {
  color: map-get($map: $colors, $key: "grey");
}

// Buttons
.btn {
  @extend .bg-white;
  padding: 8px;
  border-style: none;
  transition: all $transition-time;
  font-size: 14pt;
  box-sizing: border-box;
}

.btn:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.btn:active {
  filter: brightness(80%);
}

.btn-active {
  filter: brightness(85%);
}

.btn-inv {
  background: transparent;
}

.btn-blue {
  @extend .bg-blue;
  color: map-get($map: $colors, $key: "white");
}

.btn-green {
  @extend .bg-green;
  color: map-get($map: $colors, $key: "white");
}

.btn-orange {
  @extend .bg-orange;
  color: map-get($map: $colors, $key: "white");
}

.btn-red {
  @extend .bg-red;
  color: map-get($map: $colors, $key: "white");
}

.btn-dark {
  @extend .bg-dark;
  color: map-get($map: $colors, $key: "white");
}

.round {
  border-radius: 2px;
}

// Navigation
nav {
  box-sizing: border-box;
  padding: 13px;
  width: 100%;
  height: $navbar-height;
  position: fixed;
  top: 0;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  display: inline;
}

.nav-list a {
  padding: 5px;
  text-decoration: none;
  color: #ffffff;
}

// Positioning
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.center {
  display: block;
  margin: 0 auto;
}

// Sidebars
.sidebar {
  top: 0;
  left: 0;
  float: left;
  height: 100%;
  position: fixed;
  padding: 0 $sidebar-padding;
  width: $sidebar-width;
  margin-top: $navbar-height;
}

.sidebar-content {
  margin-left: $sidebar-width + ($sidebar-padding * 2);
}

.has-navbar {
  margin-top: $navbar-height;
}

// Containers
.container {
  padding: 15px;
}

.flexible {
  display: flex;
}

// Sized
.w-100 {
  width: 100%;
}

// Other
.divider {
  border-style: none;
  border-top: 1px solid #b6b6b6;
}

.btn-link {
  @extend .text-dark;
  text-decoration: none;
}

.w-fixed {
  min-width: 25px;
}

// Specific
.book-wrapper {
  @extend .round, .bg-green;
  padding: 20px;
  width: 145px;
  height: 245px;
}

.books-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: center;
  justify-items: center;
}